[Unit]
Description=bhm.sh
ConditionPathExists=/home/bhm/bhm.sh
After=network.target

[Service]
Type=simple
User=bhm
Group=bhm

WorkingDirectory=/home/bhm
ExecStart=/home/bhm/bhm.sh

Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bhmshservice

[Install]
WantedBy=multi-user.target
