/* variables */
html {
    --body-font-size: 16px;
    --small-body-font-size: 14px;

    --bg-color-light: #fff9f4;
    --bg-color-dark: #1c1615;
    --bg-color: var(--bg-color-light);

    --text-color-light: var(--bg-color-dark);
    --text-color-dark: var(--bg-color-light);
    --text-color: var(--text-color-light);

    --blockquote-color-light: #fbbaa7;
    --blockquote-color-dark: #a72f10;
    --blockquote-color: var(--blockquote-color-light);

    --text-color-aside-light: #737373;
    --text-color-aside-dark: #808080;
    --text-color-aside: var(--text-color-aside-light);

    --highlight-color-light: #d73705;
    --highlight-color-dark: #b96d3a;
    --highlight-color: var(--highlight-color-light);

    --secondary-highlight-light: #3a6db9;
    --secondary-highlight-dark: #05d7cd;
    --secondary-highlight-color: var(--secondary-highlight-light);
}

/* global element styles and typography */
[data-theme='dark'] {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --blockquote-color: var(--blockquote-color-dark);
    --text-color-aside: var(--text-color-aside-dark);
    --highlight-color: var(--highlight-color-dark);
    --secondary-highlight-color: var(--secondary-highlight-dark);
}

::selection {
    background-color: rgba(250, 115, 0, 0.5);
}

html {
    overflow-y: scroll;

    font-size: var(--body-font-size);
    line-height: 1.5em;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.75rem;
    line-height: 1.75rem;
}

h3,
.sectionHeader {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    font-size: 1.5rem;
    line-height: 1.5rem;
}

h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-size: 1.25rem;
    line-height: 1.25rem;
}

p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    font-size: 1rem;
}

nav {
    font-size: 1.25rem;
    line-height: 1rem;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
}

nav>a {
    padding: 8px;
}

nav>a:focus,
nav>a:focus-visible,
nav>a:focus-within {
    padding: 6px;
}

a {
    color: var(--highlight-color);
    text-decoration: underline;
    font-weight: bolder;
}

a[target="_blank"]::after {
    font-family: monospace;
    content: "↗";
}

a:hover,
a:visited:hover {
    color: var(--secondary-highlight-color);
}

a:focus,
a:focus-visible,
a:focus-within {
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
}

ul {
    margin-left: 2rem;

    line-height: 1.75rem;
}

ul a:focus,
p a:focus,
ul a:focus-visible,
p a:focus-visible,
ul a:focus-within,
p a:focus-within {
    margin: -2px;
}

nav:first-child,
div>p:first-child {
    margin-top: 0;
}

object {
    width: 120%;
    height: 100vh;
    background-color: white;
    color: black;
    margin-left: -10%;
}

iframe {
    width: 100%;
    height: 80vh;
}

button {
    min-width: 44px;
    min-height: 44px;
    padding: 8px;
    background: var(--highlight-color);
    color: var(--bg-color);
    border-radius: 5px;
    border: 4px solid var(--blockquote-color);
    margin: auto;
}

button:focus,
button:focus-visible,
button:focus-within {
    border: 4px solid var(--highlight-color);
}

/* Global classes */
.emphasize {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

.aside {
    color: var(--text-color-aside);
    font-size: .8rem;
}

.strikethrough {
    text-decoration: line-through;
}

/* Responsive styles */
@media screen and (max-width: 975px) {
    html {
        font-size: var(--small-body-font-size);
    }

    /* should buttons actually get a bigger size on smaller screens? */
    button {
        padding: 4px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 500px) {
    button {
        border: 2px solid var(--blockquote-color)
    }

    button:focus,
    button:focus-visible,
    button:focus-within {
        border: 2px solid var(--highlight-color);
    }

    nav {
        line-height: 2rem;
        display: block;
    }
}