/* variables */
html {
    --body-font-size: 16px;
    --small-body-font-size: 14px;

    --bg-color-light: #fff9f4;
    --bg-color-dark: #1c1615;
    --bg-color: var(--bg-color-light);

    --text-color-light: var(--bg-color-dark);
    --text-color-dark: var(--bg-color-light);
    --text-color: var(--text-color-light);

    --blockquote-color-light: #fbbaa7;
    --blockquote-color-dark: #a72f10;
    --blockquote-color: var(--blockquote-color-light);

    --text-color-aside-light: #737373;
    --text-color-aside-dark: #808080;
    --text-color-aside: var(--text-color-aside-light);

    --highlight-color-light: #d73705;
    --highlight-color-dark: #b96d3a;
    --highlight-color: var(--highlight-color-light);
}

/* global styles 
and typography */
[data-theme='dark'] {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --blockquote-color: var(--blockquote-color-dark);
    --text-color-aside: var(--text-color-aside-dark);
    --highlight-color: var(--highlight-color-dark);
}

::selection {
    background-color: rgba(250, 115, 0, 0.5);
}

html {
    overflow-y: scroll;

    font-size: var(--body-font-size);
    line-height: 1.5em;
}

@media screen and (max-width: 975px) {
    html {
        font-size: var(--small-body-font-size);
    }
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.75rem;
    line-height: 1.75rem;
}

h3,
.levelThree {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    font-size: 1.5rem;
    line-height: 1.5rem;
}

h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-size: 1.25rem;
    line-height: 1.25rem;
}

p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    font-size: 1rem;
}

i {
    font-style: oblique;
}

a {
    color: var(--highlight-color);
    text-decoration: underline;
    font-weight: bolder;
}

a:hover,
a:visited:hover {
    color: #0077ff;
}

a:focus,
a:focus-visible,
a:focus-within {
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
}

.aside {
    color: var(--text-color-aside);
}

.strikethrough {
    text-decoration: line-through;
}

ul {
    margin-left: 2rem;

    line-height: 1.75rem;
}

p~ul {
    margin-top: -1rem;
}

object {
    width: 120%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: -10%;
}

iframe {
    width: 100%;
    height: 80vh;
}

button {
    min-width: 44px;
    min-height: 44px;
    padding: 8px;
    background: var(--highlight-color);
    color: var(--bg-color);
    border-radius: 5px;
    border: 4px solid var(--blockquote-color);
}

@media screen and (max-width: 975px) {
    button {
        padding: 4px;
        min-width: 32px;
        min-height: 32px;
        white-space: nowrap;
    }
}

button:focus,
button:focus-visible,
button:focus-within {
    border: 4px solid var(--highlight-color);
}

@media screen and (max-width: 500px) {
    button {
        border: 2px solid var(--blockquote-color)
    }

    button:focus,
    button:focus-visible,
    button:focus-within {
        border: 2px solid var(--highlight-color);
    }

}

.aside {
    color: var(--text-color-aside);
    font-size: .8rem;
}