<div id="bio">
    <p>I'm currently a Senior Software Systems Developer at <a target="_blank" href="http://epic.com">Epic</a> building electronic medical records software with
    TypeScript, React, C#, and M. I've worn many hats including product lead, team lead, and have experience throughout the full software
    development cycle with: product management,team leadership, project planning, and database and user interface design.</p>
    <p>I currently work on Epic's <a target="_blank" href="http://mychart.com">MyChart</a> team securing our authentication & authorization frameworks in addition to developing 
    a full analytics suite so our customers understand how users interact with MyChart.</p>
    <p>I graduated from the <a href="https://sils.unc.edu">UNC School of Information & Library Science</a> with a BS in Computer and Information Sciences.
    During my time at UNC I was a linux admin at <a href="http://www.ibiblio.org">ibiblio</a>, one of the world's first online libraries
    and a stage tech with <a href="https://carolinaperformingarts.org/">Carolina Performing Arts</a>.</p>
    <p>In my free time, I enjoy mountain biking, softball, volleyball, tinkering with my various side projects, and making sure my dog,
    Einstein, is living the best life he can live.</p>
    <p>Interested in working together? Check out my <a href="resume.html">resume</a> or <a href="mailto:bhm@brianmorrow.net">email me</a>.</p>
</div>
