<style>
</style>
<div id="bio">
    <p>Hi! Welcome to my home on the internet!</p>
    <p>I'm a full stack software developer based in Madison, WI with 7+ years of experience in enterprise software development (+ several more years of experience with fun side projects like this website!). Software has improved my life in many ways and
        I'm convinced it can do the same for others; I'm eager to help make that happen.
    </p>
    <p>Interested in working together? Read more <a href="./about">about</a> me, check out my <a href="./resume">resume</a> or <a href="mailto:bhm@brianmorrow.net">email me</a>!</p>
</div>
<div>
    <h3>Quotes I like</h3>
    <figure>
        <blockquote>
            <p>Every era puts invisible shackles on those who have lived through it, and I can only dance in my chains.</p>
        </blockquote>
        <figcaption>—Liu Cixin, <cite>The Three-Body Problem</cite></figcaption>
    </figure>
    <figure>
        <blockquote>
            <p>Appalachia was Appalachia, regardless of boundaries someone had set an eternity ago. A land of breathtaking beauty, of steep hills and rolling mountains.</p>
        </blockquote>
        <figcaption>—John Grisham</figcaption>
    </figure>
</div>
<div>
    <h3>Other websites I like</h3>
    <ul>
        <li><a href="https://j3s.sh">j3s.sh</a></li>
        <li><a href="https://justine.lol">justine.lol</a></li>
    </ul>
</div>