<p style="text-align: center"><a target="_blank" href="https://nownownow.com/about">https://nownownow.com/about</a></p>

<p class="header">June 2022</p>
<ul>
    <li>Sand volleyball and softball started again!</li>
    <li>I rebuilt my website (you're using the new version now!)</li>
    <li>Spending a fair bit of time in Des Moines with Eric.</li>
    <li>Still working at Epic, but itching for a change.</li>
    <li>Writing more <a target="_blank" href="https://nim-lang.org">nim</a> but staying plugged into the Python & C# ecosystems.</li>
    <li>Curious to learn more about erlang/elixir.</li>
</ul>
<i class="aside" style="margin-left: 1rem">wait a minute, things are going TOO well...oh, that's right, it's not winter in Wisconsin!</i></p>