<p style="text-align: center"><a target="_blank" href="https://nownownow.com/about">https://nownownow.com/about</a></p>

<p class="header">9 June 2022</p>
<ul>
    <li>Sand volleyball and software started again!</li>
    <li>I rebuilt my website (you're using the new version now!)</li>
    <li>Spending a fair bit of time in Des Moines with Eric.</li>
    <li>Still working at Epic, but itching for a change.</li>
    <li>Drinking a bunch of water</li>
    <li>Eating well (we'll ignore the 11pm spoonfulls of peanut butter)</li>
    <li>Gym!</li>
</ul>
<i class="aside" style="margin-left: 1rem">wait a minute, things are going TOO well...oh, that's right, it's not winter in Wisconsin!</i></p>