<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>résumé | brian houston morrow</title>
    </head>
    <body>
    <div class="flex-container">
        <div id="header">
            <header class="hilite-text">Brian Houston Morrow</header>
            <h2>Software Developer</h2>
        </div>
        <div id="bio">
            I'm currently a Senior Software Systems Developer at <a href="https://www.epic.com/">Epic</a> building electronic medical records software with
            TypeScript, React, C#, and M.
            I've worn many hats including product lead, team lead, and have experience throughout the full software
            development cycle with: product management,
            team leadership, project planning, and database and user interface design.
            <br>
            <br>
            In my free time, I enjoy mountain biking, softball, volleyball, and tinkering with my various side projects.
            <br>
            <br>
            Interested in working together? Check out my resume or <a href="mailto:bhm@brianmorrow.net">email me</a>.
        </div>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li> |
                <li><a href="about.html">About</a></li> |
                <li><a href="./resume.html" class="active">Resume</a></li> |
                <li><a href="github.com/killerbat00">GitHub</a></li> |
                <li><a href="https://www.linkedin.com/in/brian-morrow-6a6a82140/">LinkedIn</a></li>
            </ul>
        </nav>
    </div>

    </body>
</html>
